<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Análise de PDF.</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

  <div id="container">

    <!-- Left Sidebar -->
    <div id="sidebar">
      <h3>Envie o arquivo.</h3>

      <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" required />
        <button type="submit">Upload</button>
      </form>
    
      <div id="uploadResult"></div>
    </div>

    <!-- Right Main Content -->
    <div id="main">
      <h1>Faça uma pergunta sobre seu pdf.</h1>
      <form id="qaForm">
        <input type="text" id="question" placeholder="Digite sua pergunta..." required />
        <button type="submit">Perguntar</button>
      </form>
    
      <div id="answerResult"></div>
    </div>

  </div>


  <hr>

  <!-- Link to external script -->
  <script src="/static/script.js"></script>
</body>
</html>
